In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('baseball_data.csv')

In [5]:
df.head()

             name handedness  height  weight    avg   HR
0       Tom Brown          R      73     170  0.000    0
1  Denny Lemaster          R      73     182  0.130    4
2       Joe Nolan          L      71     175  0.263   27
3     Denny Doyle          L      69     175  0.250   16
4   Jose Cardenal          R      70     150  0.275  138

In [6]:
df_copy = df.copy()

In [7]:
df_copy[df_copy.duplicated(['name'], keep=False)]

                name handedness  height  weight    avg  HR
206     Dave Roberts          R      75     215  0.239  49
245     Dave Roberts          L      75     195  0.194   7
375  Mel Stottlemyre          R      73     178  0.160   7
453   Bobby Mitchell          L      70     170  0.243   3
454   Bobby Mitchell          R      75     185  0.235  21
644       Mike Brown          R      74     195  0.265  23
645       Mike Brown          R      74     195  0.000   0
703   Dave Stapleton          L      73     185  0.000   0
704   Dave Stapleton          R      73     178  0.271  41
713       Jim Wright          R      77     205  0.000   0
714       Jim Wright          R      73     165  0.000   0
939  Mel Stottlemyre          R      72     190  0.000   0

#### Define

Above shows some duplicated names. But I do not anticipate all are true duplicates. For example, Dave Roberts with different weight is probably different person, same for Mel Stottlemyre, Bobby Mitchell, Dave Stapleton and Jim Wright who has different height and/or weight. But not Mike Brown with exactly same height and and weight, is probably a sure duplicate.

#### Code

In [8]:
df_copy.drop(df_copy.index[645], inplace=True)

In [9]:
df_copy.loc[245, 'name'] = 'Dave Roberts (2)'

In [10]:
df_copy.loc[206, 'name'] = 'Dave Roberts (1)'

In [11]:
df_copy.loc[375, 'name'] = 'Mel Stottlemyre (1)'

In [12]:
df_copy.loc[939, 'name'] = 'Mel Stottlemyre (2)'

In [13]:
df_copy.loc[453, 'name'] = 'Bobby Mitchell (1)'

In [14]:
df_copy.loc[454, 'name'] = 'Bobby Mitchell (2)'

In [15]:
df_copy.loc[703, 'name'] = 'Dave Stapleton (1)'

In [16]:
df_copy.loc[704, 'name'] = 'Dave Stapleton (2)'

In [17]:
df_copy.loc[713, 'name'] = 'Jim Wright (1)'

In [18]:
df_copy.loc[714, 'name'] = 'Jim Wright (2)'

#### Test

In [19]:
df_copy[df_copy.duplicated(['name'], keep=False)]

Empty DataFrame
Columns: [name, handedness, height, weight, avg, HR]
Index: []

In [20]:
df_copy.to_csv('baseball_data_duplicates_removed.csv', encoding='utf-8', index=False)